.bankist-app {
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
}
.card {
  border-radius: 10px;
  border: none;
}
.login-screen {
  text-align: center;
  margin-top: 5rem;
}
.btn {
  border-radius: 6px;
}
